# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.local
.env.*.local

# Test files
coverage
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx

# Documentation
README.md
docs
